


.search_box {
  padding-top: 100px;
}

.page_num_box {
  padding-top: 100px;
  padding-left: 100px
}

h3 {
  margin-bottom: 0
}



.show {
	display: block
}

.hidden {
	display: none
}

/*nav bar*/ 

.navbar	{
	display: inline-flex;
	position: fixed;
	width: 100%;
	height: 60px;
	top: 0px;
	left: 0px;
	background-color: lightgrey;
	align-items: center;
	z-index: 5
}

.handle {
	margin-right: 20px;
	margin-left: 30px;
	font-size: 25px;
	cursor: pointer;
}

/*js-results*/
.js-search_result {
	padding-left: 5px;
	display: flex;
}

.js-results span {
	color: grey;
}

.js-results {
	padding-left: 10px;
}

.js-result_title{
	cursor: pointer;
}

.js-result_thumb{
	position: relative;
	top: 0;
	bottom: 0;
}

.js-result_info_box {
	margin-left: 25px;
}

.js-result_info_box h3 {
	margin-top: 7px;
}

.js-result_info_box hr {
  margin-left: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}

/*entry window*/
.js-no_entry {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	flex-direction: column;
	margin-top: -50px;
    margin-left: -270px;
    align-items: center;
}

.no_entry_message {
	color: darkgrey;
	margin-top: 0;
	margin-right: 15px
}
.search_box {
	margin-bottom: 10px;
}

#js-entry_details {
	padding-top: 120px;
	padding-left: 50px;
}

.pages_error {
	color: red
}

.js-input_window {
	padding-top:  100px;
	padding-left:  50px
}

.text_input_area{
	height: 600px;
	width: 75%
}


.js-entires_container {
	padding-top:  100px;
	padding-left:  50px;
	padding-right: 50px;
}

.js-entry {
	max-height: 175px;
	margin-bottom: 30px;
	padding-bottom: 10px;
	padding: 5px;
	border: 1px solid grey;
	overflow: hidden
}

.js-entry:hover {
	cursor: pointer;
}

.js-entry h3 {
	display: inline;
	margin: 0;
}

.js-entry h4 {
	font-size: 18px;
	font-weight: normal;
	margin-top: 5px;
	margin-bottom: 4px;
	border-bottom: 1px solid #a9a8a0;
}

div.js-entry_paragraph p{
	color: #6e6d67; 
	font-style: italic;
	margin: 10px auto 10px auto;

}

.js-view_window {
	padding-top:  100px;
	padding-left:  50px;
	padding-right: 50px;
}

.js-input_window hr {
  margin-left: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 75%
}

.btn-submit_entry_details{
	margin-left: 10px;
	margin-top: 20px;
}

.btn-view_book_pages{
	margin-top: 15px;
	width: 140px;
}

/*home page*/
.js-books_window {
	padding-top:  100px;
	padding-left:  50px;
	padding-right: 50px;
}

.js-book_detail {
	border: 1px #aaaaaa solid;
	background-color: white;
	display: flex;
	margin: 0;
	margin-bottom: 20px;
}

.book_detail  {
	width: 100%;
	margin-left: 10px;
	margin-right: 10px;
}

.book_detail hr {
	width: 100%;
	margin-right: 10px;
}

.book_img {
	
}

.book_detail_title{
	margin-top: 4px;
	margin-bottom: 4px;
	cursor: pointer;
}